.button {

    &_reset {
        background: none;
        border: none;
        box-shadow: none;
        white-space: normal;
        margin-bottom: 0;
        padding: 0.5em;

        &:hover,
        &:focus {
            background: none;
        }
    }
}
