$colors: (
    nav: #666,
    navactive: #005095,
    primarybackground: #ffffff,
    primarytext: #8e8e91,
    borders: #23408f,
    menubackground: rgba(0, 0, 0, 0.6),
);

$fa-font-path: 'webfonts';
